@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
    margin: 0;
    padding: 0;
}

#color-pad {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #ef8906 0%, #cc0365 100%);
    position: relative;
    margin-top: 70px;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
}

img.main-icon {
    position: absolute;
    top: 0;
    padding: 15px;
    width: 40px;
    left: 50%;
    transform: translate(-50%);
}

.sub-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 40px;
}

.sub-btn:hover {
    background: #ffffff40;
}

#gradient-output {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(245, 245, 245, 0.3);
    padding: 10px 25px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}