/* Created: Monday, ‎February ‎5, ‎2018, ‏‎12:19:18 AM */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#color-pad {
    width: 100%;
    height: 100%;
    background: url(assets/empty-bg.png), linear-gradient(to right, #ef8906 0%, #cc0365 100%);
    
}

.color-pad-inner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    width: 1440px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    flex-flow: row wrap;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background: #ffffff;
}

.col {
    display: flex;
    justify-content: center;
}

.col-60 {
    height: 55%;
    align-items: flex-end;
}

.col-40 {
    height: 45%;
    align-items: center;
}

img.main-icon {
    width: 40px;
}

#sub-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #151515;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 4vw;
    outline: none;
}

#sub-btn:hover {
    background: #ffffff40;
}

.gradientOutput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(245, 245, 245, 0.3);
    padding: 10px 25px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #151515;
    text-align: center;
}

.gradientOutput span {
    padding-left: 10px;
    display: none;
}

.gradientOutput span:hover img {
    opacity: 1;
}

.gradientOutput img {
    width: 18px;
    opacity: 0.65;
}

#flex-container {
  justify-content: space-around;
  padding: 0;
}

#history-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #151515;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 400px;
  height: 250px;
  margin: 15px;
}