/* Created: Monday, ‎February ‎5, ‎2018, ‏‎12:19:18 AM */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.font-primary{
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}
.font-secondary {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.container {
    display: flex;
    width: 1440px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    flex-flow: row wrap;
}

.col {
    display: flex;
    justify-content: center;
    width: 100%;
}

.col-55 {
    height: 55%;
    align-items: flex-end;
}

.col-45 {
    height: 45%;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    background: #ffffff;
}

img.main-icon {
    width: 40px;
}

#color-pad {
    width: 100%;
    height: 100%;
    background: url(assets/empty-bg.png), linear-gradient(to right, #ef8906 0%, #cc0365 100%);
    
}

.color-pad-inner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.color-pad-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#sub-btn {
    color: #151515;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 2vw 5% 2.1vw;
    font-size: calc(20px + 2vw);
    line-height: 1;
    outline: none;
    cursor: pointer;
}

#sub-btn:hover {
    background: #ffffff40;
}

.gradientOutput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(245, 245, 245, 0.3);
    padding: 10px 25px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #151515;
    text-align: center;
}

.gradientOutput span {
    padding-left: 10px;
    display: none;
}

.gradientOutput span:hover img {
    opacity: 1;
}

.gradientOutput img {
    width: 18px;
    opacity: 0.65;
}

#flex-container {
  justify-content: space-around;
  padding: 0;
}

#history-header {
    color: #151515;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 400px;
  height: 250px;
  margin: 15px;
  border-radius: 5px;
}

.controls-btn {
    border: none;
    background: transparent;
}

.back-btn-icon {
    width: 5vw;
    outline: none;
    opacity: 0.6;
    max-width: 100px;
    min-width: 20px;
}

button.controls-btn:disabled,
button.controls-btn[disabled] {
    margin-left: 0;
    cursor: not-allowed;
}

button.controls-btn:disabled,
button.controls-btn[disabled] > .back-btn-icon{
  opacity: 0.4;
}

button.controls-btn:focus {
    outline: none;
}

button.controls-btn:hover:not([disabled]) > .back-btn-icon {
    outline: none;
    cursor: pointer;
    opacity: 1;
}