/* Created: Monday, ‎February ‎5, ‎2018, ‏‎12:19:18 AM */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
    margin: 0;
    padding: 0;
}

#color-pad {
    width: 100%;
    height: 100vh;
    background: url(assets/empty-bg.png), linear-gradient(to right, #ef8906 0%, #cc0365 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#color-pad2 {
    width: 100%;
    height: 100vh;
    background: url(assets/empty-bg.png), linear-gradient(to right, #ef8906 0%, #cc0365 100%);
    position: relative;
    margin-top: 70px;
}

header {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 70px;
    background: #ffffff;
}

img.main-icon {
    padding: 15px;
    width: 40px;
}

.sub-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 40px;
}

.sub-btn:hover {
    background: #ffffff40;
}

#gradient-output {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(245, 245, 245, 0.3);
    padding: 10px 25px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    img.main-icon {
        position: absolute;
        top: 0;
        padding: 15px;
        width: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-btn {
        font-size: 30px;
    }
}